@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #EEEEEE!important;
}

.subtitles {
    text-align: center;
    font-family: "Chakra Petch", sans-serif;
    margin-top: 40px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}




li::marker {
    display: none;
    font-size: 0;
}

.btn-primary {
    background-color: #023047;
    border: 1px solid #023047;
}

.btn-primary:hover {
    background-color: #023047;
    border: 1px solid #023047;

}