.container-nav {
    display: flex;
    flex-direction: row;
}

.navbar .navbar-nav {
    margin-right: 0!important;
}

.navbar .navbar-nav a,
.container-nav  a {
    color: #023047!important;
    text-decoration: none;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 800;
}

.buttonAlert {
    background-color: #fff!important;
    border: 1px solid  #023047!important;
    color: #023047!important;
    margin-left: 20px;
}

.logo {
    width: 35px;
    height: 35px;
    object-fit: initial;
    image-rendering: auto;
}

.me-auto {
    margin-right: 0!important;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;

}

.navbar-toggle {
    border: none; 
    background: transparent; 
    margin-left: auto; 
}

button .navbar-toggler-icon:hover {
    color:  #fff!important;
}

.navbar-toggle :focus {
    outline: none; 
}

.cart-icon {
    width: 25px;
    height: 25px;
    margin-left: 20px;
}



@media (min-width: 990px) {
    .navbar .navbar-nav {
        gap: 20px;
    }
}


@media (max-width: 990px) {
    .cart {
        position: fixed;
        right: 5px;
        top: 15px;
    }

    .navbar-toggle{
        margin-right: 50px;
    }

    .navbar .navbar-nav {
        padding: 20px;
        gap: 5px;
    }
}

@media (min-width: 990px) {
    .navbar-collapse {
        justify-content: flex-end!important;
    }
   
}

@media (max-width: 990px) { 
    .navbar {
        flex-direction: column; /* Organiza en columna en móviles */
    }

    .navbar-nav {
        flex-direction: column; /* Organiza los elementos en columna */
        
    }

    .navbar-collapse.show {
        display: flex; /* Muestra el menú al abrir */
    }

    .cart {
        position: absolute;
        right: 5px;
        top: 15px;
    }

    .navbar-toggle{
        margin-right: 50px;
        display: flex;
        flex-direction: column;
    }

    .navbar .navbar-nav {
        padding: 20px;
        gap: 5px;

    }

    .navbar .navbar-nav a {
        font-size: 30px;
        /* text-align: center; */
    }
   
}

@media (max-width: 480px) { 
    .navbar {
        padding: 10px; 
    }

    .navbar-nav {
        gap: 10px; /* Menor espacio entre enlaces */
    }

}

